.code-container {
  background-color: "#1e1e1e";
  padding-left: "1rem";
  border-radius: "5px";
  font-size: "1.1em";
}

.copy-btn {
  background-color: #5e5c5c;
  color: white;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 0.8em;
  width: fit-content;
  margin: 6px;
  align-self: end;
}

.copy-btn:hover {
  background-color: #444444;
}

.code-block-container {
  background-color: #1e1e1e;
  padding-left: 1rem;
  border-radius: 5px;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;

}

.code-block-container pre {
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}

.code-block-container pre::-webkit-scrollbar {
  color: white;
  background-color: #00000060;
  width: 5px;
  height: 8px;
  border: 1px solid #747272;
  border-radius: 10px;
}

.code-block-container pre::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 5px;
}

.editor-container *::-webkit-scrollbar {
  color: white;
  background-color: #00000060;
  width: 5px;
  height: 8px;
  border: 1px solid #747272;
  border-radius: 10px;
}

.editor-container *::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 5px;
}

.editor-container {
  display: flex;
  justify-content: space-between; 
  flex-direction: row;
}

.editor-container > div {
  flex-grow: 1;
  height: 400px; 
  overflow-x: auto;
  flex-basis: calc(50%);
  max-width: calc(50%);
}
.editor-user-input {
  display: flex; 
  flex-direction: column; 
  width: 100%;
  max-width: 100%;
  overflow-x: auto; 
}
.code-preview-wrapper {
  border: 5px solid rgb(161, 161, 161);
  background: white;
}

.editor-selection-wrapper {
  display: flex;
  justify-content: space-between;
  background: rgb(179, 179, 179);
  padding: 5px;
}

.editor-selection-wrapper button {
  padding: 5px;
  min-width: 90px;
  border-radius: 2px;
  outline: none;
  border: none;
  background: rgb(70, 70, 70);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.editor-selection-wrapper button:hover {
  background: rgb(29, 28, 28);
  color: white;
}

.active-editor {
  background: rgb(29, 28, 28) !important;
}

.code-editor {
  height: 100%;
  flex-grow: 1;
}

.code-editor {
  width: 100%; 
  height: 100%; 
  overflow-y: auto; 
  flex-grow: 1;
}

.code-editor > div {
  height: 100%;

}

@media (max-width: 1000px) {
  .editor-container {
    flex-direction: column;
  }
  .editor-container > div {
    flex-basis: initial;
    max-width: initial;
  }
  
}