.footer {
    background-color: #1D262D;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 40px 0;
}

.footer > div {
    display: flex;
    gap: 40px;
    border-bottom: solid 2px white;
    padding: 20px 0px;
}

.footer p {
    margin: 20px;
}

.footer div > div {
    display: flex;
    flex-direction: column;
}

.footer div > div h1{
    color: #A8A8A8;
    font-weight: 700;
}

.footer div > div a{
    color: #A8A8A8;
    font-weight: 600;
    margin: 5px 0;
    transition: all .5s;
}

.footer div div a:hover {
    color: #dfdfdf;
    
}