

.landing-section {
  background: radial-gradient(circle at bottom right, #200047 0%, #496C6C 42%, #496C6C 100%);
  backdrop-filter:blur(100px);
  width: 100%;
  min-height: 880px;
  padding: 0px 0px 20px;
  color: #fff;
  background-size: cover;
  max-width: 100%;
  display: inline-block;

}

.landing-section-top {
  margin: 0 250px;
}
.landing-section-content {

  display: flex;
  justify-content: space-between;
  gap: 10em;
  margin: 200px 150px;
}

.landing-section-content > div > h1 {
  font-weight: 500;
  margin: 0;
}

.landing-section-content > div > p {
  font-size: 1.5em;
  color: #b8b8b8;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background: #00000088;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header > div > h1 {
  margin: 0;
  font-size: 2.5em;
  color: #FF006B;
}
.header > div > p {
  margin: 0;
  color: #C7C7C7;
  font-size: 1.2em;
}


.acc-btn {
  padding: 10px 50px;
  border-radius: 999px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 0px 10px;
  cursor: pointer;
}

.signed-in-info{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.signed-in-info > h1 {
  font-size: 1.6em;
  color: white;
  font-weight: 500;
  margin: 0;
}
.signed-in-actions { 
  display: flex; 
  flex-direction: column; 
  direction: rtl;
  margin-right: 10px;
}
.signed-in-actions > a {
  color: #ffffff;
  font-weight: 200;
  margin-left: 10px;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  cursor: pointer;
  width: fit-content;
}

.signed-in-actions > a:hover {
  text-decoration: underline;
}

.explore-btn {
  border: 5px solid #00FFC2;
  padding: 10px 50px;
  border-radius: 999px;
  font-weight: 500;
  font-size: 1.3em;
  margin: 0px 10px;
  background: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  font-family: inherit;
  transition: all .3s;

}

.explore-btn:hover{
  box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.1);
  transform: scale(1.2) !important;
  border: 5px solid #ffffff;

} 
.join-link {
  border: 5px solid #FF006B;
  color: #FF006B;
  transition: all .3s;

}

.join-link:hover{
  color: #fff;
  border: 5px solid #ffffff;

}

.sign-in-link {
  border: 5px solid #ffffff;
  transition: all .3s;
  color: white;
}

.sign-in-link:hover {
  border: 5px solid #000;
  color: #fff;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  align-self: center;
  
}

.home-img-1, .home-img-2, .home-img-3 {
  grid-row: 1/2;
}

.home-img-1 {
  grid-column: 5/7;
  width: 110px;
  height: auto;
  object-fit: contain;
  align-self: end;
  z-index: 3;
}

.home-img-2 {
  grid-column: 6/-1;
  width: 400px;
  height: auto;
  object-fit: contain;
  align-self: end;
  z-index: 2;
}

.home-img-3 {
  grid-column: 1/-4;
  width: 500px;
  height: auto;
  object-fit: contain;
  align-self: end;
  z-index: 1;
}
.info-bubbles-section {
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  justify-content: center;
  align-items: center;
  transform: translate(0, -11rem);
}
.info-bubble {
  border-radius: 3rem;
  background: white;
  box-shadow: 17px 16px 38px 5px rgba(0,0,0,0.1);
  padding: 80px 100px;
  margin: 20px 0;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.info-bubble img {
  filter: drop-shadow(16px 19px 16px rgba(0, 0, 0, 0.151));
  border-radius: 30px;
  width: 350px;

}
.info-bubble-img-no-style {
  filter: none !important;
  border-radius: 0 !important;
}

.info-bubble > div > h1 {
  font-size: 3em !important;
  font-weight: 500;
  margin-top: 0;
}
.info-bubble > div > ul {
  padding-left: 25px;
}
.info-bubble > div > ul > li {
  margin: 10px 0;
  font-size: 1.2em;
  color: #535353;
}
.info-bubble > div > p {
  font-size: 1.2em;
  color: #535353;
}
.price-section > h1 {
  text-align: center;
  color: #fff;
  font-weight: 500;
}


.price-section {
  background: #000;
  padding: 200px 20px;
}

.plan-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-basis: 100%;
}

.plan-options-container > div {
  width: 400px;
  box-shadow: 9px 16px 12px 5px rgba(0,0,0,0.1);
  border-radius: 2rem;
  padding: 40px;
  background: #fff;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.plan-options-container > div > button,
.plan-options-container > div > a {
  width: 100%;
  background: none;
  text-align: center;
  border: 2px solid black;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
  font-weight: 500;
  font-family: inherit;
  -webkit-appearance: none;
  color: #000;

}
.plan-options-container > div > button:hover,
.plan-options-container > div > a:hover {
  background: #000;
  color: white;
  -webkit-appearance: none;

}
.feature-list {
  list-style: none; 
  padding: 0;
}

.feature-list li {
  margin: 20px 0;
  background-image: url('/static/home/checkmark.svg');
  background-repeat: no-repeat;
  padding-left: 30px;
  background-position: 0 50%;
}

.field-select-section {
  background-color: black;
  margin-bottom: 9em;

}

.field-select-section-container {
  display: flex;

  background-color: white;
  background-size: cover;
  width: 100%;

  margin: auto;
  flex-direction: column;
  align-items: center;
  color: #31353a;
}

.img-category {
  width: 150px;
  height: 150px;
  margin: 15px;
}

.field-select-section h1 {
  text-align: center;
}

.container section h1 {
  font-size: 3.8em;
}

.head-content-container {
  text-align: center;
  font-size: 1.5em;
}


.banner-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  text-align: center;
}

.field-btn {
  display: inline-flex;
  padding: 4px 8px;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden; /*content inside will be restricted*/
  font-weight: 600;
  height: 40px;
  font-size: 0.9em;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  background: #31353a;
  justify-self: flex-end;
  transition: all .2s;
}
.field-btn:hover {
  background: #47494b;
  transform: scale(1.05);
}

.category-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
  margin: 35px;
}

.selections {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;

}

.banner-content-container h1 {
  font-size: 1.5em !important;
  margin: 0;
}

.grow-bg {
  width: 100px;
  height: 100px;
  background-color: #31353a;
  position: absolute;                                                         
  z-index: -1;
  right: 100px;
  border-radius: 100%;

}
 
.section-three {
  display: inline-block;
  padding: 0 250px 100px 250px;
  overflow-x: hidden;

}

.section-three-content-1 {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.section-three-content-sub {
  display: flex;
  gap: 6em;
  overflow-x: visible;
  align-items: center ;
}


.section-three-content-sub img {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  align-self: center;
  width: 500px;
  height: auto;
}
.section-three-content-sub div h2 {
  font-weight: 400;
}
.landing-section-sub-content div h1 {
  color: #ec9c33;
}
.field-select-section-sub-content div h1 {
  color: #ADD8E6;
}
.privacy-container {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0px 15%;
}

.privacy-container h1{
  font-size: 2.5em;
}

.privacy-container h2{
  font-size: 1.5em;
}

@media (max-width: 1600px)  {
  .landing-section-content > div > h1 {
    font-size: 3.5em;
  }
  .home-img-1 {
    width: 90px;
  }

  .home-img-2 {
    width: 300px;
  }

  .home-img-3 {
    width: 400px;
  }
}

@media (max-width: 1500px)  {

  .landing-section-content {
    gap: 30px;
    margin: 200px 50px
  }
  .landing-section-content > div > h1{
    font-size: 3.3em;

  }

  .landing-section-top {
    margin: 0 50px;
  }


  .section-three {
    padding: 0 50px 100px 50px;
  }
  .section-three-content-sub {
    flex-direction: column;
  }
  .section-three-content-sub-img{ order: 2;}

}

@media (max-width: 1200px) {
  .home-img-1 {
    width: 80px;
  }

  .home-img-2 {
    width: 270px;
  }

  .home-img-3 {
    width: 370px;
  }

  .explore-btn {
    margin-top: 20px;
  }

  .info-bubble {
      width: 800px;

  }
  .info-bubble > div > h1 {
    font-size: 2em !important;
}
  .info-bubble > img{
   width: 300px;
}
}

@media (max-width: 1000px)  {
  .landing-section-content {
    flex-direction: column;
    gap: 100px;
  }

  .section-three {
    padding: 0 50px 100px 50px;
  }


  .section-three-content-sub {
    flex-direction: column;
  }
  .section-three-content-sub div h1 {
    font-size: 3em;
  }

  .landing-section {
    height: 1400px;
  }

  .home-img-1 {
    width: 100px;
  }

  .home-img-2 {
    width: 310px;
  }

  .home-img-3 {
    width: 400px;
  }

  .info-bubble {
    width: 600px;
    padding: 40px 40px;
  }
  .info-bubble > div > h1 {
    font-size: 1.8em !important;
  }
  .info-bubble > img{
  width: 250px;
  }
  .info-bubble > div > ul > li {

    font-size: 1em;
  }
  .info-bubble > div > p {
    font-size: 1em;
  }

  .price-section {
    padding: 100px 20px;
  }

  .plan-options-container {
    flex-direction: column;
    gap: 40px
  }
}

@media (max-width: 800px) {
  .header {
    padding: 15px 20px;
  }

  .header > div > h1 {
    font-size: 2em;
  }
  .acc-btn {
    padding: 10px 30px;
    font-size: 1em;
    margin: 0;
    margin-left: 12px;
  }
}

@media (max-width: 600px)  { 
  .info-bubble {
    width: 380px;
    padding: 30px 20px;
    flex-direction: column;
    border-radius: 30px;
  }

  .info-bubble img {
    order: 1;
  }
  .container section h1 {
    font-size: 3.2em;
  }

}

@media (max-width: 600px)  {
  .home-img-1 {
    width: 80px;
  }

  .home-img-2 {
    width: 220px;
  }

  .home-img-3 {
    width: 270px;
  }
  .section-three-content-sub img {
    width: 300px;
  }
  .privacy-container {

    padding: 0px 5% !important;
  }
  .section-three-content-sub div h1 {
    font-size: 2em;
  }
}


@media (max-width: 420px)  {
  .landing-section {
    height: 1000px;
  } 
  .landing-section-content {
    margin: 100px 30px;
  }
  .landing-section-content >div > h1 {
    font-size: 2.8em;
  }
  .landing-section-content >div > p {
    font-size: 1.2em;
  }
  .info-bubble {
    width: 300px;
    padding: 20px 20px;
    flex-direction: column;
  }
  .home-img-1 {
    width: 60px;
  }

  .home-img-2 {
    width: 200px;
  }

  .home-img-3 {
    width: 230px;
  }
  .info-bubble img {
    width: 200px;
  }
  .header {
    padding: 15px 10px;
  }

  .header > div > h1 {
    font-size: 1.5em;
  }
  .acc-btn {
    padding: 10px 15px;
  }

  .info-bubbles-section {
    transform: translate(0, -6rem);
  }

  .plan-options-container > div {
    padding: 20px;
    width: 300px;
    height: 400px;
  }
}