.page-wrapper {
    margin-top: 25px;
}

.page-wrapper p {
    font-size: 1.1em;
    margin: 0.7em 0;
}

.page-wrapper li {
    font-size: 1.1em;
    margin: 0.7em 0;
}

.MsoNormal {
    font-size: 1em !important;
}

.page-wrapper table {
    text-align: center;
    margin: 40px 0;
    align-self: center;
}

.article-container {
    max-width: 740px;
    overflow: auto;
    margin: 20px auto 100px auto;
    display: flex;
    flex-direction: column;

}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.warning-message {
    font-size: 0.75em !important;
    margin: 5px 20px !important;
}

.p5-selection-range {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1em;
    max-width: 500px;
    padding: 0 10px;
}
.p5-sketch-details input {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 20px;
    transition: background .4s, box-shadow .2s;
    padding: 8px;
    border: none;
    outline: none;
    color: rgb(252, 252, 252);
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%);
    background: rgba(255, 255, 255, 0.253);
}

.p5-sketch-details input:not([type="text"], [type="number"]) {
    width: 100% !important;
}

.p5-sketch-details input::placeholder {
    color: rgb(207, 207, 207);
}
.p5-sketch-details input:focus::placeholder {
    color: rgb(46, 46, 46);

}
.p5-sketch-details  input:focus {
    color: rgb(46, 46, 46);

    background: rgba(241, 241, 241, 0.938);
}
.p5-options-container {
    max-height: 300px;
    overflow: auto;
}
.p5-sketch-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;

    background-color: #303030;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    
}


.p5-normal-sketch-details > * {
    margin: 10px;
}

.p5-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    justify-self: center;
    align-self: center;
    max-width: 500px;
    position: relative;
}

#custom-triangle {
    touch-action: none;
}
.misc-options {
    text-align: center;

}
.p5-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #303030;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.p5-options div {
    margin: 4px;
}

.button-input {
    border-radius: 6px;
    border: none;
    background: #ec9c33;
    color: white;
    font-size: 0.8em;
    padding: 10px 8px;
    cursor: pointer;
    border: 2px solid #ec8633;
    transition: all .15s ease-in-out;
}

.show-more-btn {
    align-self: center;
    width: fit-content;
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1em;
    color: white;
  }

  .show-more-btn:hover {
    color: #b1adad;
  }

  .intercepts > p  {
    text-align: left;
    margin: 10px 10px;
    font-size: 0.9em;
  }

.button-input:hover {
    background: #474747;
    transform: scale(1.03);
}

.button-input:active {
    transform: scale(1.1);
}

.text-input {
    width: 48px;
    border: none;
    border-radius: 6px;

}


.equation {
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-self: center;
    max-width: 100%;
    height: auto;
    margin: 0.7em 0;

}

.input-switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}

.input-switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.input-switch-label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.input-switch:checked+label {
    background: #ec9c33;
}

.input-switch:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.input-switch:active:after {
    width: 130px;
}

.selections-container {
    display: flex;
    flex-direction: column;

}

.bottom-options {
    display: flex;
}
.main-trig-options {
    display: flex;
    flex-direction: row;
}

.unverified-container {
    padding: 20px;
    text-align: center;
}

.unverified-container a {
    text-decoration: underline;
    color: blue;
}

.show-options-btn {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #7e0a0a;
    color: white;
    margin: 5px 0;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .article-container {
        width: 80vw;
    }
}

@media (max-width: 625px) {
    .p5-options {
        flex-direction: column;

    }
    .misc-options {
        display: flex;
        flex-direction: column;
    }

    .main-trig-options {
        display: flex;
        flex-direction: row;
    }
    
}

.code-snippet {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    font-family: "Courier New", monospace;
    padding: 10px;
    white-space: pre-wrap; /* This is important to preserve the code indentation */
}