.path {
    
    padding: 1em 1em;
    font-weight: bold;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom,#e6e6e6,#e7e7e7);
    text-align: center;
    color: rgb(81, 79, 82);
    display: flex;
    justify-content: space-around;
    overflow: auto;
    margin: auto;

    align-items: center;
}
.path-child {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.path ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.path ul li a{
    text-decoration: underline;
}

.path ul li a:hover{
    color: rgba(81, 79, 82, 0.63);

}

.path ul li:not(:first-child)::before {
    content: '\00a0>\00a0'
}

/* .fast-read-btn {
    display: inline-flex;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    outline: none;
    overflow: hidden;
    font-weight: 500;
    height: 30px;
    font-size: 0.9em;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: white;
    background: #31353a;
    justify-self: flex-end;
    width: fit-content;
} */

@media (max-width: 1000px) {
    .path {
        width: 100%;
    }

}

@media (max-width: 600px) {
    .path {
        display: none;
    }
}