.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 20px;
}

.btn-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

}

.questions-btn-wrapper {
   max-width: 900px;
}

.calculator-category-container {
    margin: 0 4em;
}

.calculator-category {
   align-self: start;
    width: 100%;
    margin: 20px 0;
    display: inline-block;
}

.calculator-category h3 {
    font-size: 1.3em;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    
}

.open-questions-btn,
.open-calculator-btn,
.open-programming-link,
.open-course-btn {
    color: black;
    padding: 30px;
    cursor: pointer;
    background-color: rgb(120, 122, 253);
    box-shadow: 4px 4px 0px #43baff;
    border: 2px solid rgb(0, 0, 0);
    font-family: inherit;
    font-weight: 600;
    font-size: 1.3em;
    transition: all .3s;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    min-width: 250px;
}
.open-questions-btn:hover,
.open-questions-btn:focus,

.open-course-btn:hover
 {
    box-shadow: 10px 10px 0px #43baff;
    transform: scale(1.13);
}

.open-course-btn:hover,
.open-course-btn:focus {
    box-shadow: 10px 10px 0px rgb(169, 245, 216);
    transform: scale(1.13);
}

.open-programming-link:focus,
.open-programming-link:hover {
    box-shadow: 10px 10px 0px rgb(250, 192, 242);
    transform: scale(1.13);
}

.open-programming-link {
    background-color: rgb(255, 156, 242);
    box-shadow: 4px 4px 0px rgb(250, 192, 242);
    height: fit-content;
    padding: 25px;
    min-width: 200px;
    font-size: 1.2em;

}

.open-course-btn {
    background-color: rgb(53, 223, 158);
    box-shadow: 4px 4px 0px rgb(169, 245, 216);
    height: fit-content;
}

.popular-btn::after {
    content: "Popular"; 
    position: absolute; 
    top: 0; 
    right: 50px; 
    background-color: #43a4ff; 
    color: white; 
    padding: 2px 10px; 
    font-size: 0.8em; 
    font-weight: 500;
    transform: translate(50%, -50%); 
    border-radius: 4px; 
}

.free-btn::after {
    content: "Free"; 
    position: absolute; 
    top: 0; 
    right: 50px; 
    background-color: #9eff8b; 
    color: rgb(37, 36, 36); 
    padding: 2px 10px; 
    font-size: 0.8em; 
    font-weight: 500;
    transform: translate(50%, -50%); 
    border-radius: 4px;
}


.completed::after {
    content: "Completed"; 
    position: absolute; 
    top: 0; 
    right: 50px; 
    background-color: #1ffa8c; 
    color: black; 
    padding: 2px 10px; 
    font-size: 0.8em; 
    font-weight: 500;
    transform: translate(50%, -50%); 
    border-radius: 4px; 
}

.not-started::after {
    content: "Not Started"; 
    position: absolute; 
    top: 0; 
    right: 50px; 
    background-color: #f0f0f0; 
    color: black; 
    padding: 2px 10px; 
    font-size: 0.8em; 
    font-weight: 500;
    transform: translate(50%, -50%); 
    border-radius: 4px; 
}

.open-calculator-btn {
    background-color: rgb(253, 120, 120) !important;
    box-shadow: 4px 4px 0px #ffae43;
}

.open-calculator-btn:hover,
.open-calculator-btn:focus {
    box-shadow: 10px 10px 0px #ffae43;
    transform: scale(1.13);
}
.programming-wrapper {
    gap: 30px;
}
.programming-wrapper > a > span {
    font-size: 0.8em;
    font-weight: 500;
    font-style: italic;
    margin: 5px 0;
    display: inline-block;
    color: rgb(46, 46, 46);
}
.programming-link-transition {
    justify-self: center;
    align-self: center;
}

.example-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    gap: 50px;
    margin-bottom: 4em;
}

.video-preview {
    width: 300px;
    filter: drop-shadow(16px 19px 16px rgba(0, 0, 0, 0.151));
    border-radius: 12px;
}

.example-info > div {
    max-width: 400px;
}

.questions-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1s;
    z-index: 5;
    overscroll-behavior: contain;
}


.calculator-modal.open,
.courses-modal.open,
.questions-modal.open {
    transform: translate(-50%, -50%) scale(1);
}

.close-calculator-btn {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: all .3s;
    font-weight: 500;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    width: fit-content;

}

.close-calculator-btn:hover {
    color: rgb(206, 33, 114);
}

.close-calculator-btn:focus {
    outline: none;
}

.calculator-modal,
.courses-modal,
.questions-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1s;
    z-index: 5;
    overscroll-behavior: contain;
    z-index: 10;
}

.courses-modal {
    width: 60%;
}

.course-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    width: 100%;
    justify-content: center;
}
.course-option-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 100px;
    padding: 40px;
    border-bottom: 2px solid black;

}

.course-option-wrapper-coming-soon {
    filter: brightness(60%); /* Darken the elements */
    position: relative;

}
.course-option-wrapper-coming-soon * {
    color: rgba(41, 41, 41, 0.753);
}
.course-option-wrapper-coming-soon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(214, 214, 214, 0.1); 
    color: rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}
.course-option-wrapper-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5em;
}

.show-more-btn {
    background: rgb(224, 224, 224);
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.course-mini-description-wrapper p {
    margin: 0;
    font-size: 1.1em;
}
.course-mini-description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%;
    gap: 3em;
}

.course-btn-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 2em;
}

.course-btn-icon-wrapper > div {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
}


.show-more-text {
    margin-left: 10px;
    font-size: 1.1em;
    color: rgb(17, 17, 17);
    font-weight: 500;
}

.show-more-btn:hover {
    background: #b8b8b8;
}
.expanded-description {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 5em;
    align-items: center;

}

.expanded-description-img-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.expanded-description-img-wrapper img {
    filter: drop-shadow(16px 19px 16px rgba(0, 0, 0, 0.151));
    border-radius: 12px
}

.expanded-description p {
    font-size: 1.2em;
}

.course-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.course-content ol {
    list-style: none;
    counter-reset: hex-counter;
    position: relative;
    margin: 10px 0;
    text-align: right; /* Right-aligns the text */

}

.course-content ol > li {
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
    padding-left: 100px; 
    z-index: 1;
    position: relative;
    white-space: nowrap;
}



.course-content ol > li::before {
    counter-increment: hex-counter;
    content: counter(hex-counter);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    background-color: rgb(53, 223, 158);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 2;
    font-size: 0.8em; 
}

.course-content ol > li::after {
    content: "";
    position: absolute;
    left: 12px; 
    bottom: -25px;  
    width: 2px;
    height: calc(100% + 25px - 12.5px);
    background-color: black;
    z-index: 0;
}

.course-content ol > li:last-child::after {
    display: none;
}

.expanded-description > div > img {
    width: 350px;
    height: auto;
}

.description-gif {



}




@media screen and (max-width: 1500px) {
    .expanded-description {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .expanded-description-img-wrapper {
        align-items: center;
    }
    .expanded-description > div > img {
        width: 300px;
        height: auto;
    }

    .courses-modal {
        width: 90%;
        min-width: 0;
    }
}

@media screen and (max-width: 1000px) {
    .example-info {
      flex-direction: column;
      font-size: 1em;
    }
    .btn-wrapper {
      align-items: center;
      justify-content: center;
    }
    .course-container {
        align-items: center;
        justify-content: center;
    }
    .example-info img {
      width: 280px;
    }
    .course-option-wrapper-main {
        flex-direction: column;
        align-items: center;

    }
    .course-mini-description-wrapper {
        max-width: 100%;
    }
    .course-option-wrapper {
        margin: 0;
        padding: 20px 0;
    }
    .expanded-description {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .expanded-description p {
        font-size: 1em;
    }
    .expanded-description-img-wrapper {
        align-items: center;
    }
    .course-content ol {
        padding: 0;
        text-align: right;
    }

    .course-content ol > li {
        white-space: normal;

    }
    .courses-modal {
        width: 90%;
    }
    .calculator-category-container {
        margin: 0;
    }
  }

