.subscribed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 8em 0;
}

.subscribed-container h1 {
    font-size: 3em;
    margin: 0.2em 0;
}

.premium-links {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-top: 40px;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 3px solid rgb(95, 94, 94);
    overflow: hidden
}

@keyframes animate {

    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }

}

.premium-color {
    background: linear-gradient(90deg, #ff00f3, #5b7bfc, #ff00c4);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 20s linear infinite;
    color: black;
}

.link-container a {
    display: block;
    background-color: rgba(34, 33, 33, 0.911);
    /* Solid background for the block */
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
    color: rgb(238, 238, 238);
    /* Initial text color */
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.link-container a > span {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 10px 0;
}
.link-container a:hover {
    color: rgb(187, 187, 187);
}

.video-preview {
    width: 300px;
  }



@media screen and (max-width: 1400px) {

    .premium-links {
        flex-direction: column;
    }

    .subscribed-container h1 {
        font-size: 2.5em;
    }
    .subscribed-container {

        padding: 4em 0;
    }
    
}