.subscribed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 8em 0;
}

.subscribed-container h1 {
    font-size: 3em;
    margin: 0.2em 0;
}

.premium-links {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-top: 40px;
}

.link-container {
    width: 300px;
    height: 300px;
    /* 200px for the image + 20px for the text section */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Aligns the text section to the bottom */

    background-size: cover;
    /* Cover the 200x200 area with the background */
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 3px solid rgb(95, 94, 94);
    overflow: hidden
}

@keyframes animate {

    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }

}

.premium-color {
    background: linear-gradient(90deg, #ff00f3, #5b7bfc, #ff00c4);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 20s linear infinite;
    color: black;
}

.link-container a {
    display: block;
    background-color: rgba(34, 33, 33, 0.911);
    /* Solid background for the block */
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
    color: rgb(238, 238, 238);
    /* Initial text color */
    transition: all ease 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.link-container a:hover {
    transform: scale(1.1);
    color: rgb(187, 187, 187);
}



.link-questions {
    background-image: url('/static/home/questions.gif');
    /* Replace with your image path */
}

.link-courses {
    background-image: url('/static/home/courses.gif');
    /* Replace with your image path */
}

.link-calculators {
    background-image: url('/static/home/unique-questions.gif');
    /* Replace with your image path */
}

@media screen and (max-width: 1400px) {

    .premium-links {
        flex-direction: column;
    }

    .subscribed-container h1 {
        font-size: 2.5em;
    }
    .subscribed-container {

        padding: 4em 0;
    }
    
}